<% include ../partials/head %>
</head>
<body class="hold-transition skin-blue sidebar-mini">
	<div class="wrapper">

		<header class="main-header">
			<% include ../partials/header %>
		</header>

		<aside class="main-sidebar">
			<% include ../partials/aside %>
		</aside>

		<div class="content-wrapper">
			<section class="content-header">
				<h1>
					Manage Line Agents
				</h1>
			</section>
			<section class="content">
				<!-- for main content of the page -->
				<div class="row">
					<div class="col-md-12">
						<!-- general form elements -->
						<div class="box box-info">
							<div class="box-header">
								<h3 class="box-title">Edit Line Agents</h3>
							</div><!-- /.box-header -->
							<!-- form start -->
							<form id="line_agent_form" method="PATCH" class="" role="form">
								<div class="box-body">
									<div id="AlertInfo">                            
										<div class="alert alert-danger" style="display: none">
											<i class="fa fa-warning"></i>
											<button class="close" data-dismiss="alert">×</button>
											<span id="errorMsg">You have some form errors. Please check below.</span>
										</div>

										<div class="alert alert-success " style="display: none">
											<i class="fa fa-check"></i>
											<button class="close" data-dismiss="alert">×</button>
											<span id="successMsg">Your form validation is successful!</span>
										</div>
									</div>

									<div class="row">
										<div class="col-md-12">
											<div class="col-md-6">
												<div class="form-group">
													<label class="col-md-3 control-label">Sector <span style="color:red;">*</span></label>
													<div class="col-md-7">
														<input type="hidden" name="line_agent_id" id="line_agent_id" value="<%= line_agent._id %>">
														<select name="sector_id" id="sector_id" class="form-control">
															<option value="">Select Sector</option>
															<% if (sectors != '') { %>
															<% sectors.map(function(sector, ind) {  %>
															<option value="<%= sector._id %>" <%= (JSON.stringify(line_agent.sector_id) == JSON.stringify(sector._id)) ? 'selected' : '' %>><%= sector.name %></option>
															<% }) } %>
														</select>
													</div>
												</div>
											</div>
											<div class="col-md-6">
												<div class="form-group">
													<label class="col-md-4 control-label">Terminal <span style="color:red;">*</span></label>
													<div class="col-md-8">
														<select name="port_id" id="port_id" class="form-control">
															<option value="">Select Terminal</option>
															<% if (ports != '') { %>
															<% ports.map(function(port, ind) {  %>
															<option value="<%= port._id %>" <%= (JSON.stringify(line_agent.port_id) == JSON.stringify(port._id)) ? 'selected' : '' %>><%= port.name %></option>
															<% }) } %>
														</select>
													</div>
												</div>
											</div>
										</div>

										<div class="col-md-12 table-responsive">
											<table class="table table-bordered">
												<thead>
													<tr>
														<th>Line <span style="color:red;">*</span></th>
														<th>Agent <span style="color:red;">*</span></th>
													</tr>
												</thead>
												<tbody id="line_agent_tbody">
													<tr>
														<td>
															<div class="form-group">
																<input name="line" id="line" class="form-control" placeholder="line" value="<%= line_agent.line %>">
															</div>
														</td>
														<td>
															<div class="form-group">
																<input name="agent" id="agent" class="form-control" placeholder="Agent" value="<%= line_agent.agent %>">
															</div>
														</td>
														<td>
															<div class="form-group">
																<input name="carting_point" id="carting_point" class="form-control" placeholder="Carting Point" value="<%= line_agent.carting_point %>">
															</div>
														</td>
													</tr>
												</tbody>
											</table>
										</div>
										<!-- <div class="col-md-8">
												<div class="col-md-12">
													<div class="form-group">
														<label class="col-md-4 control-label">Date <span style="color:red;">*</span></label>
														<div class="col-md-6">
															<input type="text" class="form-control input-sm" id="date" name="date" placeholder="Date">
														</div>
													</div>
												</div>

												<div class="col-md-12">
													<div class="form-group">
														<label class="col-md-4 control-label">Currency <span style="color:red;">*</span></label>
														<div class="col-md-6">
															<input type="text" class="form-control" id="currency" name="currency" placeholder="Currency">
														</div>
													</div>
												</div>

												<div class="col-md-12">
													<div class="form-group">
														<label class="col-md-4 control-label">Import <span style="color:red;">*</span></label>
														<div class="col-md-6">
															<input type="text" class="form-control input-sm" id="import" name="import" placeholder="Import">
														</div>
													</div>
												</div>

												<div class="col-md-12">
													<div class="form-group">
														<label class="col-md-4 control-label">Export <span style="color:red;">*</span></label>
														<div class="col-md-6">
															<input type="text" class="form-control" id="export" name="export" placeholder="Export">
														</div>
													</div>
												</div>
										</div> -->
									</div>
								</div>        

								<div class="box-footer">
									<div class="row">
										<div class="col-md-5 hidden-sm"></div>
										<div class="col-md-6 col-sm-12">
											<span class="pull-right col-sm-pull-left">
												<button type="submit" id="save_line_agent" class="btn btn-sm btn-success"><i class="glyphicon glyphicon-check"></i> Submit</button>
												<button type="reset" class="btn btn-sm btn-danger"><i class="glyphicon glyphicon-refresh"></i> Reset</button>
											</span>
										</div>
									</div>
								</div>
							</form>
						</div><!-- /.box -->
					</div>
				</div>
			</section>
		</div>

		<footer class="main-footer">
			<% include ../partials/footer %>
		</footer>
	</div>

	<% include ../partials/tail %>

	<script type="text/javascript" src="../../jquery-validation/js/jquery.validate.js"></script>
	<script type="text/javascript" src="../../jquery-validation/js/additional-methods.min.js"></script>
	<script type="text/javascript">
		$(document).ready(function() {

			$(document).on('click', '#save_line_agent', function() {
	            var myForm = $('#line_agent_form');
	            var errorMsgDiv = $('.alert-danger');
	            var successMsgDiv = $('.alert-success');

	            myForm.validate({
	                errorElement: 'span', //default input error message container
	                errorClass: 'help-block help-block-error', // default input error message class
	                focusInvalid: false, // do not focus the last invalid input
	                ignore: "",  // validate all fields including form hidden input
	                rules: {
	                    "sector_id": {
	                        required: true
	                    },
	                    "port_id": {
	                        required: true
	                    },
	                    "line": {
	                        required: true
	                    },
	                    "agent": {
	                        required: true
	                    },
	                    "carting_point": {
	                        required: true
	                    }
	                },

	                invalidHandler: function (event, validator) { //display error alert on form submit     
	                    successMsgDiv.hide();
	                    errorMsgDiv.show();
	                    errorMsgDiv.delay(3000).fadeOut();
	                },

	                highlight: function (element) { // hightlight error inputs
	                    $(element)
	                        .closest('.form-group').addClass('has-error'); // set error class to the control group
	                },

	                unhighlight: function (element) { // revert the change done by hightlight
	                    $(element)
	                        .closest('.form-group').removeClass('has-error'); // set error class to the control group
	                },

	                success: function (label) {
	                    label
	                        .closest('.form-group').removeClass('has-error'); // set success class to the control group
	                },

	                submitHandler: function (form) {
	                	var line_agent_id = $('#line_agent_id').val();
	                    $.ajax({
	                        url: "/line_agents/update/"+line_agent_id,
	                        type: "PUT",
	                        data:  $('#line_agent_form').serialize(),
	                        success: function(data)
	                        {
	                            var res = data.split("|"); 
	                            if(res[0]=='error')
	                            {
	                                $('#errorMsg').html(res[1]);
	                                errorMsgDiv.show();  
	                                successMsgDiv.hide();
	                                errorMsgDiv.delay(3000).fadeOut();
	                            }
	                            else if(res[0]=='success')
	                            {
	                                $('#successMsg').html(res[1]);
	                                successMsgDiv.show();
	                                errorMsgDiv.hide();
	                                successMsgDiv.delay(3000).fadeOut();
	                                setTimeout(function() {
	                                window.location.href = "/line_agents/list";
	                                }, 1000);
	                            }
	                        }
	                    });
	                }
	            });
	        });
    	});
	</script>
	</body>
</html>


